.head {
    border-right: 2px solid #2cb695;
    height: 300px;
    margin: 0 10px;
    display: inline-block;
    float: left;
    width: 300px;
}

.head:last-child {
    border-right: none;
}

h1 {
    border: 1px solid #adadad;
    width: 250px;
    height: 60px;
    padding: 5px 15px;
    line-height: 60px;
    background-color: #2cb695;
    color: whitesmoke;
}

.menu {
    margin-left: 15px;
}

#categories {
    height: 350px;
}

#about .head {
    height: 120px;
}
#about h1:hover {
    cursor: pointer;
    background-color: #23987d;
}

#about h1 {
    border-radius: 10px;
}
h2 {
    margin-left: 15px;
    font-size: 32px;
}